In [17]:
# Loading necessary libraries
import pandas as pd
import numpy as np

In [18]:
# Loading the original dataset
df=pd.read_excel('sku_data.xlsx',index_col=0)
df.head()

,Unitprice,Expire date,Outbound number,Total outbound,Pal grossweight,Pal height,Units per pal
ID,,,,,,,
1,0.058,547,9,2441.0,105.60,1.56,1920
2,0.954,547,0,0.0,207.68,1.00,384
3,2.385,547,12,23.0,165.78,1.02,108
4,5.100,547,0,0.0,221.04,1.05,72
5,0.000,547,0,0.0,0.00,0.00,0

In [19]:
# Removing unnecessary columns
df=df.drop(['Expire date','Total outbound','Outbound number'],axis=1)

In [20]:
# Renaming the columns
df.columns=['price','weight','height','capacity']

In [21]:
# Checking for the correctness of data types and null values
df.info()
# Data types are correct
# There seem to be no null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2279 entries, 1 to 2279
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     2279 non-null   float64
 1   weight    2279 non-null   float64
 2   height    2279 non-null   float64
 3   capacity  2279 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 89.0 KB

In [22]:
# Examining descriptive statistics
np.round(df.describe().T,2)
# None of the product attributes should be equal to 0

           count    mean      std  min   25%     50%     75%        max
price     2279.0    4.27    14.45  0.0   0.0    1.29    4.54     518.59
weight    2279.0  192.94   164.62  0.0  60.0  167.68  277.56     907.20
height    2279.0    0.67     0.55  0.0   0.0    0.84    1.02       2.16
capacity  2279.0  755.56  6278.44  0.0  32.0  108.00  384.00  200000.00

In [23]:
# Dropping incorrect values
for col in df.columns:
    df=df.drop(df[df[col]==0].index)
np.round(df.describe().T,2)

           count    mean     std   min     25%     50%     75%       max
price     1292.0    6.08   17.45  0.00    1.14    2.81    6.81    518.59
weight    1292.0  256.94  139.79  1.00  165.78  226.80  296.10    907.20
height    1292.0    1.06    0.28  0.04    0.90    1.02    1.05      2.16
capacity  1292.0  398.10  805.76  2.00   72.00  108.00  384.00  12000.00

In [24]:
# Calculating the share of duplicates in the dataset
np.round(len(df[df.duplicated(keep='first')])/len(df),2)

0.42

In [25]:
# Dropping duplicates
df=df.drop_duplicates(keep='first')

In [26]:
# Saving the cleaned dataset
df.to_csv('dataset.csv')